.ProfilPicture {
height:200px;
width:150px;
}
.ThumbNailPicture {
height:150px;
width:110px;
}
.MainTitle {
align-content:center;
text-align:center;
width:100%;
margin-left: auto ;
margin-right: auto ;
}
.FixSpan {
	float: left;
    width: 200px;
}

