@model IEnumerable<TableTennisChampionshipMain.ViewModels.PlayerInfo>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var match in Model)
{
    <p>  @match.MatchName </p>
}*@

@*@{
    @Layout
}*@

@{
    @ViewBag.UserName
}