@model TableTennisChampionshipMain.ViewModels.SelectedPlayerInfo

@{
    ViewBag.Title = "RegisterPlayer";
}

@if (Model.SelectedPlayerID == null)
{
    <h2>Изберете играч</h2>
}
else 
{ 
    <h2>Ваш играч</h2>
}
@using (Html.BeginForm(null, null, new { area = "" }, FormMethod.Post,
                        null))
{
    Html.AntiForgeryToken();
    foreach (var item in Model.PlayerList)
    {
        <div>
            @if (Model.SelectedPlayerID == null)
            {
                <span>
                    @Html.RadioButtonFor(modelItem => modelItem.SelectedPlayerID, item.PlayerID)
                </span>
            }
            @{Html.RenderPartial("_Player", item);}
        </div>
    }

    if (Model.SelectedPlayerID == null)
    {   
        <input type="submit" id="btnSubmit" value="Избери" />
    }
}

